---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Coda", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #222;
$green-background-color: #1b1;
$brand-color:      #4EBA4E;
$brand-shader-color:  #2CA82C;
$brand-secondary-color: #E9F3E9;

$panel-header-color: #161;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/* Bootstrap fix for static navigation */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

body .container-fluid {
     background-color: $background-color;
     font-family: $base-font-family;
     color: #eee;
}

#particles-background {
  background-color: $background-color;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}
#overlay {
  position: relative;
}

nav#main-navigation {
     background-color: $background-color;
     margin-bottom:0px;
}

div.call-to-action-panel {
     color: #eee;
     p.lead {
        font-size: 1.2em;
     }
     img.enl-fi-logo{
	height: 15em;
     }
     a.btn { margin-top: 1em;}
}

div.download-panel {
     img { max-height: 150px; }
}

footer {
       margin: 5em 5em;
}

div.container-fluid div.panel-ingress {
       color: eee;
       border-color: lighten($panel-header-color, 10%);
       border-radius: 0px;
       div.panel-heading {
           color: eee;
           background-color: $panel-header-color;
           h1 {
              font-size: 2.0em;
              text-transform: uppercase;
           }
       }
       div.panel-body {
           background-color: $background-color;
       }
}

div.container-fluid hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid $panel-header-color;
}