<div class="download-panel col-sm-10 col-sm-offset-1" style="margin-top:5em;">
    <div class="panel panel-ingress">
        <div class="panel-heading">
            <h1 class="panel-title">Download Ingress</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive center-block" src="/img/ingress.png" />
                </div>
                <div class="col-sm-12 text-center">
                    <h2>INGRESS</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        {% include ingress-google-play.html %}
                    </div>
                    <div class="col-sm-6 text-center">
                        {% include ingress-app-store.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
