<div class="row call-for-action">
    <div class="col-sm-5 col-sm-offset-1" style="margin-top:5em;">
        <h2>Join Enlightened Finland</h2>
        <p class="lead">
            {% tf index.html %}
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <div class="col-sm-12">
            <img class="img-responsive center-block enl-fi-logo" src="/img/enl-fi-logo-medium.png" />
        </div>
        <div class="col-sm-12">
            <a href="join.html" class="btn btn-success btn-lg">{% t index.recruitment %}</a>
        </div>
    </div>
</div>
